{{define "subject"}}Reset your FFWriter password{{end}}
{{define "plainBody"}}
Hi,
Your password reset token is below. Please enter it along with your new password.
--------------------------
{{.passwordResetToken}}
--------------------------
Please note that this code will expire in 45 minutes.
Thanks,
The FFWriter Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi,</p>
<p>Your password reset token is below. Please enter it along with your new password.</p>
<pre><code>
--------------------------
{{.passwordResetToken}}
--------------------------
</code></pre>
<p>Please note that this code will expire in 45 minutes.</p>
<p>Thanks,</p>
<p>The FFWriter Team</p>
</body>
</html>
{{end}}