{{define "subject"}}Reset your FFWriter password{{end}}
{{define "plainBody"}}
Hi,
To reset your password please visit https://ffwriter.com/users/password and enter the
following secret code along with your new password:
--------------------------
{{.passwordResetToken}}
--------------------------
Please note that this code will expire in 45 minutes. If you need another code please
visit https://ffwriter.com/tokens/password-reset.
Thanks,
The FFWriter Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi,</p>
<p>To reset your password please visit <a href="https://ffwriter.com/users/password">https://ffwriter.com/users/password<a/> and enter the
following secret code along with your new password:</p>
<pre><code>
--------------------------
{{.passwordResetToken}}
--------------------------
</code></pre>
<p>Please note that this code will expire in 45 minutes. If you need another code please
visit <a href="https://ffwriter.com/tokens/password-reset">https://ffwriter.com/tokens/password-reset</a>.</p>
<p>Thanks,</p>
<p>The FFWriter Team</p>
</body>
</html>
{{end}}